/* =============================
 * CLEARFIX
 * ============================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ===============================
 * BOOTSTRAP OVERRIDES
 *================================= */
.row {
  margin-left: 0;
  margin-right: 0; }

.container {
  max-width: 965px; }

.header-container {
  max-width: 965px; }

.btn {
  padding: 0.5em 1.5em;
  background-color: #3b6790;
  color: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: 3px 3px 0 0 #2c4d6c;
  font-weight: bold;
  letter-spacing: 2px; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #3b6790;
    color: #FFFFFF;
    border: none;
    box-shadow: 2px 2px 0 0 #2c4d6c;
    outline: none;
    margin: 1px 0 -1px 1px; }

.form-control {
  float: left;
  margin-right: 0.3em;
  margin-bottom: 0.4em;
  border-color: #3b6790;
  color: #2d2d2d;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all 0.3s; }
  .form-control:focus {
    color: #2d2d2d;
    border-color: #3b6790;
    -webkit-box-shadow: none;
    box-shadow: none; }

textarea {
  resize: vertical;
  color: #2d2d2d;
  font-family: "Courier New", Courier, monospace; }
  textarea:focus {
    background-color: #EFEFEF; }

.divider {
  border-top: 1px solid #CFCFCF;
  margin: 1em 0 0.5em 0; }

.panel {
  border-radius: 0;
  box-shadow: 2px 2px 0 0 #CFCFCF; }
  .panel .panel-heading {
    color: #2c4d6c;
    border-radius: 0;
    border-bottom: 1px transparent;
    background-color: #EFEFEF;
    border-color: #CFCFCF;
    font-weight: bold; }
  .panel .panel-body {
    border-radius: 0;
    border-top: 1px dashed;
    background-color: #FFFFFF;
    border-color: #CFCFCF;
    padding: 0.8em 1em;
    word-wrap: normal; }

blockquote {
  background-color: #FFFFFF;
  border: 1px solid #CFCFCF;
  font-style: italic;
  font-size: 1.2em;
  color: #606060;
  position: relative;
  box-shadow: 2px 2px 0 0 #CFCFCF; }
  blockquote .quote-author {
    float: right;
    margin-right: 1em;
    font-style: normal;
    font-size: 0.8em; }
  blockquote.tool-block {
    min-height: 150px;
    vertical-align: middle;
    float: none; }

/* =============================
 * STYLES
 * ============================== */
html, body {
  font-family: 'Ubuntu', sans-serif;
  color: #2d2d2d;
  background-color: #FAFAFA; }

h1, h2, h3 {
  font-weight: bold;
  color: #3b6790; }

h2 {
  margin-top: 10px;
  font-size: 2em; }

h3 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  color: #3b6790; }

a {
  color: #3b6790; }
  a:hover, a:active, a:focus {
    color: #3b6790; }

p {
  line-height: 1.8em; }

.section {
  padding: 1.5em 0; }

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

#demoexplanation {
  text-align: center; }

.calltoaction {
  font-size: large;
  font-weight: bold;
  text-align: center; }

#map {
  height: 180px;
  width: 100%; }

#nav {
  border-bottom: 2px solid #CFCFCF;
  background-color: #FFFFFF;
  box-shadow: #FFFFFF; }
  #nav ul {
    padding-left: 0; }
    #nav ul li {
      transition: background 0.3s;
      padding: 0.5em 1.5em;
      float: left;
      list-style: none;
      border-left: 1px solid #CFCFCF; }
      #nav ul li:last-of-type {
        border-right: 1px solid #CFCFCF; }
      #nav ul li:hover {
        background-color: #EFEFEF;
        cursor: pointer;
        cursor: hand; }
  @media screen and (max-width: 650px) {
    #nav ul li {
      padding: 0.5em 0.5em; }
      #nav ul li:first-of-type {
        border-left: none; }
    #nav .container {
      padding-left: 0;
      padding-right: 0; }
      #nav .container .col-xs-12 {
        padding-left: 0;
        padding-right: 0; } }

#publications .citation {
  font-size: small;
  line-height: 15px;
  padding-top: 12px; }

#intro {
  position: relative;
  background-color: #EFEFEF;
  color: #3b6790;
  padding-bottom: 20px;
  padding-top: 40px; }
  #intro h1 {
    font-size: 3em;
    margin-top: 0; }
  #intro p {
    color: #606060;
    line-height: 1.5em;
    font-size: 1.1em;
    margin-bottom: 0.3em; }
    #intro p.intro-description {
      font-style: italic; }

#how-it-works-container {
  background-color: #EFEFEF;
  border-top: 2px dashed #CFCFCF;
  border-bottom: 2px dashed #CFCFCF;
  /* $color-dark-grey/*$color-darkest-white*/ }

#publications-container {
  background-color: #FAFAFA; }

#tools-container {
  background-color: #EFEFEF;
  border-top: 2px dashed #CFCFCF;
  border-bottom: 2px dashed #CFCFCF; }

#tools .tool {
  text-align: center; }
  #tools .tool .tool-img-wrapper {
    line-height: 100px; }
    #tools .tool .tool-img-wrapper img {
      vertical-align: middle;
      max-width: 100px;
      max-height: 100px; }

.display-table {
  display: table;
  table-layout: fixed; }

.display-cell {
  display: table-cell;
  vertical-align: middle;
  float: none; }

#partners-container {
  background-color: #2d2d2d;
  color: #FFFFFF; }
  #partners-container h2 {
    color: #92b3d2; }
  #partners-container a, #partners-container a:active, #partners-container a:hover, #partners-container a:focus {
    color: #92b3d2; }
  #partners-container a:hover {
    text-decoration: underline; }

#footer {
  background-color: #2d2d2d;
  color: #FFFFFF; }
  #footer p {
    margin: 2em 0 1em 0; }
  #footer a, #footer a:active, #footer a:hover, #footer a:focus {
    color: #92b3d2; }
  #footer a:hover {
    text-decoration: underline; }

.green {
  color: #3b6790; }

/*# sourceMappingURL=default.css.map */
