---
---
{% include header.html %}
    <!-- MAIN CONTENT -->
    <article>
      <section>
        <div id="page-container">
          <div class="row" id="how-it-works-container">
            <div class="container" id="what">
              <h2>What is it?</h2>
              <p>Instead of publishing a dump of time </p>
              <figure>
                <img src="https://phd.pietercolpaert.be/img/lc_scheme.svg"/>
              </figure>
              <p></p>
              <p>Querying data on the web from your browser: click 2 pins to plan a route.</p>
              <p></p>
              <div class="row section" id="basics">
                <div class="col-xs-12">
                  <div id="map" style="height: 200px"></div>
                </div>
                <p id="demoexplanation"></p>
              </div>
            </div>
          </div>

          <div class="row" id="datasets-container">
            <div class="container">
              <div class="row section" id="data">
                <div class="col-xs-12">
                  <h2>Datasets</h2>
                  <div class="col-xs-6 list-group-item">
                    <a href="http://belgianrail.linkedconnections.org" target="_blank">Belgian railway company</a><br/>
                    A dataset for the Belgian railway company
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="tools-container">
            <div class="container">
              <div class="row section" id="tools">
                <div class="col-xs-12">
                  <h2>Tools</h2>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-md-6 tool">
                    <h3><a href="https://github.com/linkedconnections/server.js" target="_blank">lc-server</a></h3>
                    <p>
                      Publish your Linked Connections on the Web
                    </p>
                  </div>
                  <div class="col-xs-6 col-md-6 tool">
                    <h3><a href="https://github.com/linkedconnections/client.js" target="_blank">lc-client</a></h3>
                    <p>
                      Plan routes from your own website or nodejs application
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-md-6 tool">
                    <h3><a href="https://github.com/linkedconnections/csa.js" target="_blank">CSA.js</a></h3>
                    <p>The connection scan algorithm (csa) for javascript. Not a Linked Connections specific tool</p>
                  </div>
                  <div class="col-xs-6 col-md-6 tool">
                    <h3><a href="https://github.com/linkedconnections/gtfs2lc" target="_blank">gtfs2lc</a></h3>
                    <p>
                      Transform your GTFS files in Linked Connections and load it into a store
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="publications-container">
            <div class="container" >
              <div class="row section" id="publications">
                <div class="col-xs-12 col-md-12">
                  <h2>Publications</h2>
                  <h3>2017</h3>
                  <p class="citation">Rojas, Julián, et al. "Providing Reliable Access to Real-Time and Historic Public Transport Data Using Linked Connections."</p>
                  <p class="citation">Chaves-Fraga D, Rojas J, Vandenberghe PJ, Colpaert P, Corcho O. The tripscore Linked Data client: calculating specific summaries over large time series.</p>
                  <p class="citation">Pieter Colpaert. <a href="https://phd.pietercolpaert.be">Publishing transport data for maximum reuse</a>. PhD Dissertation Ghent University, 2017.</p>
                  <p class="citation">Pieter Colpaert, Ruben Verborgh, and Erik Mannens. “<a href="https://pietercolpaert.be/papers/icwe2017-lc">Public Transit Route Planning Through Lightweight Linked Data Interfaces.</a>” International Conference on Web Engineering. 2017.</p>
                  <h3>2016</h3>
                  <p class="citation">Pieter Colpaert, Sander Ballieu, Ruben Verborgh, Erik Mannens (2016). The Impact of an Extra Feature on the Scalability of Linked Connections. In Consuming Linked Data workshop 2016.</p>
                  <h3>2015</h3>
                  <p class="citation col-xs-12 col-md-6">Pieter Colpaert, Alejandro Llaves, Ruben Verborgh, Oscar Corcho, Erik Mannens, and Rik Van de Walle. Intermodal public transit routing using Linked Connections. Proceedings of the 14th International Semantic Web Conference: Posters and Demos (2015) - <a href="lc_poster2015.pdf" target="_blank">poster (pdf)</a> and <a href="lc_demo_paper.pdf" target="_blank">full-text paper (pdf)</a></p>
                </div>
                
              </div>
            </div>
          </div>
      </section>
    </article>
    <script src="js/lc-client.js"></script>
    <script src="js/main.js"></script>
{% include footer.html %}
