---
---
{% include header.html %}
    <!-- MAIN CONTENT -->
    <article>
      <section>
        <div id="page-container">

          <div class="row" id="publications-container">
            <div class="container" >
              <div class="row section" id="publications">
                <div class="col-xs-12 col-md-12">
                  <h2>Publications</h2>
                  <h3>2020</h3>
                  <p class="citation">Delva, Harm, et al. <a href="https://link.springer.com/chapter/10.1007%2F978-3-030-50578-3_21">Geospatial Partitioning of Open Transit Data</a>”. International Conference on Web Engineering. 2020.</p>
                  <p class="citation">Rojas Meléndez, Julián, et al. “<a href="https://link.springer.com/chapter/10.1007/978-3-030-50578-3_22">Efficient Live Public Transport Data Sharing for Route Planning on the Web</a>”. International Conference on Web Engineering. 2020.</p>
                  <h3>2018</h3>
                  <p class="citation">Rojas Meléndez, Julián, et al. “<a href="https://biblio.ugent.be/publication/8678247/file/8678249.pdf">Decentralized Open Data Publishing for the Public Transport Route Planning Ecosystem</a>”. Proceedings of the 3rd Open Data Research Symposium. 2018.</p>
                  <h3>2017</h3>
                  <p class="citation">Rojas Meléndez, Julián, et al. “<a href="http://ceur-ws.org/Vol-1963/paper637.pdf">Providing Reliable Access to Real-Time and Historic Public Transport Data Using Linked Connections</a>”. International Semantic Web Conference: Posters and Demos. 2017 </p>
                  <p class="citation">Chaves-Fraga D, Rojas J, Vandenberghe PJ, Colpaert P, Corcho O. “<a href="http://ceur-ws.org/Vol-1934/contribution-10.pdf">The tripscore Linked Data client: calculating specific summaries over large time series</a>”.</p>
                  <p class="citation">Pieter Colpaert. <a href="https://phd.pietercolpaert.be">Publishing transport data for maximum reuse</a>. PhD Dissertation Ghent University, 2017. Workshop on Decentralizing the Semantic Web - ISWC. 2017</p>
                  <p class="citation">Pieter Colpaert, Ruben Verborgh, and Erik Mannens. “<a href="https://pietercolpaert.be/papers/icwe2017-lc">Public Transit Route Planning Through Lightweight Linked Data Interfaces</a>”. International Conference on Web Engineering. 2017.</p>
                  <h3>2016</h3>
                  <p class="citation">Pieter Colpaert, Sander Ballieu, Ruben Verborgh, Erik Mannens (2016). The Impact of an Extra Feature on the Scalability of Linked Connections. In Consuming Linked Data workshop 2016.</p>
                  <h3>2015</h3>
                  <p class="citation col-xs-12 col-md-6">Pieter Colpaert, Alejandro Llaves, Ruben Verborgh, Oscar Corcho, Erik Mannens, and Rik Van de Walle. Intermodal public transit routing using Linked Connections. Proceedings of the 14th International Semantic Web Conference: Posters and Demos (2015) - <a href="lc_poster2015.pdf" target="_blank">poster (pdf)</a> and <a href="lc_demo_paper.pdf" target="_blank">full-text paper (pdf)</a></p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
{% include footer.html %}
