---
---
{% include header.html %}
    <!-- MAIN CONTENT -->
    <article>
      <section>
        <div id="page-container">

          <div class="row" id="tools-container">
            <div class="container">
              <div class="row section" id="tools">
                <div class="col-xs-12">
                  <h2>Tools</h2>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-md-6 tool">
                    <h3><a href="https://github.com/linkedconnections/server.js" target="_blank">lc-server</a></h3>
                    <p>
                      Publish your Linked Connections on the Web
                    </p>
                  </div>
                  <div class="col-xs-6 col-md-6 tool">
                    <h3><a href="https://github.com/linkedconnections/client.js" target="_blank">lc-client</a></h3>
                    <p>
                      Plan routes from your own website or nodejs application
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-md-6 tool">
                    <h3><a href="https://github.com/linkedconnections/csa.js" target="_blank">CSA.js</a></h3>
                    <p>The connection scan algorithm (csa) for javascript. Not a Linked Connections specific tool</p>
                  </div>
                  <div class="col-xs-6 col-md-6 tool">
                    <h3><a href="https://github.com/linkedconnections/gtfs2lc" target="_blank">gtfs2lc</a></h3>
                    <p>
                      Transform your GTFS files in Linked Connections and load it into a store
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>

{% include footer.html %}
