<!DOCTYPE html>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              foaf: http://xmlns.com/foaf/0.1/
              og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Linked Connections</title>
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="linked connections">
    <meta name="dct:creator" resource="https://pietercolpaert.be/#me">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Linked Connections" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://linkedconnections.org" />
    <meta property="og:image" content="http://linkedconnections.org/images/logo.svg" />
    <meta property="og:description" content="{{site.description}}" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@linkedcons">
    <meta name="twitter:title" content="Linked Connections">
    <meta name="twitter:description" content="{{site.description}}">
    <meta name="twitter:image" content="http://linkedconnections.org/images/logo.svg" />
    <meta name="twitter:url" content="http://linkedconnections.org/images/logo.svg" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link rel="stylesheet" href="/style/main.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/leaflet.js"></script>
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>
  <body>
    <!-- HEADER -->
    <header class="inner" typeof="foaf:Project" resource="https://linkedconnections.org/#project">
      <hgroup>
        <h1><a href="/"><img src="/images/header-large.png" alt="Linked Connections" width="500" id="image-header"/></a></h1>
        <h3 class="tagline">Revolutionizing route planning frameworks:<br/>publishing better data, building smarter clients.</h3>
      </hgroup>
      <nav>
        <ul class="nav">
          <li><a href="/#what">What is it?</a></li>
          <li><a href="/datasets">Datasets</a></li>
          <li><a href="/tools">Tools</a></li>
          <li><a href="/publications">Publications</a></li>
          <li><a href="/specification/1-0">Specification</a></li>
          <!--<li><a href="tutorials">Tutorials</a></li>-->
        </ul>
      </nav>
      
    </header>
    <!-- Thank you Leaflet.js for this nice website template! -->
    <nav class="ext-links">
      <a class="ext-link twitter" href="http://twitter.com/linkedcons" title="Follow Linked Connections on Twitter"><img alt="Follow Linked Connections on Twitter" src="/images/twitter-round.png" width="46"></a>
      <a class="ext-link github" href="http://github.com/linkedconnections/" title="View Source on GitHub"><img alt="View Source on GitHub" src="/images/github-round.png" width="46"></a>
    </nav>
