---
redirect_from: "/specification"
---
{% include header.html %}

<article>
  <section>
    <div id="page-container">
      <div class="row" id="how-it-works-container">
        <div class="container">
          <h2>Introduction</h2>
          <p>
            The Linked Connections 1.0 specification explains how to implement a data publishing server, and explains what you can rely on when writing a route planning client.
            Linked Connections uses “a connection” as its smallest building block: at all times, you will need to generate or process a departure stop, departure time, arrival stop and arrival time.
            These connections are then ordered by departure time, and split in fragments that do not exceed a reasonable page size for an HTTP response.
          </p>
          <p>
            In this specification, we use 2 keywords. <span class="must">must</span> is used when the client would not be able to use the data any longer. <span class="should">should</span> is used in order to follow good practices for better performance, or to make the lives of developers easier.
          </p>
          <h2>Communication over HTTP</h2>
          <p>
            For each document that is published by a Linked Connections server, a <a href="http://enable-cors.org">Cross Origin Resource Sharing</a> HTTP header <span class="must">must</span> to be set as follows:
            <code>
              <pre>
Access-Control-Allow-Origin: *
              </pre>
            </code>
          </p>
          <p>
            Next, the server <span class="should">should</span> implement thorough caching strategies, as the cachability is one of the biggest advantages of the Linked Connections framework.
          </p>
          <p>
            Finally, as a generic data model, we use the <a href="https://www.w3.org/TR/rdf11-concepts/">w3c Resource Description Framework (RDF1.1)</a>.
            You therefore <span class="must">must</span> use a RDF1.1 format, such as JSON-LD, TRiG or NQuads.
            As a concequence, every connection will need to have a unique and persistent identifier: an HTTP URI.
            This URI <span class="should">should</span> dereference when followed.
          </p>
          <h2>Metadata</h2>
          <p>
            Each response from a Linked Connections page <span class="must">must</span> contain some metadata about itself.
            
          </p>
          <ul>
            <li>MAY set a next and previous page link</li>
            <li>MUST have a statement including legal reusability</li>
            <li>MUST have paging metadata in the body</li>
            
          </ul>
          <h2>Describing connections</h2>
          <p>
            We want to be able to describe the basics of a connection, as well as use different properties.
          </p>
          <h3>The Linked Connections vocabulary</h3>
          <p>
            The Linked Connections vocabulary can be found at http://semweb.mmlab.be/ns/linkedconnections#
          </p>
          <h3>The Linked GTFS vocabulary</h3>
          <p>
            GTFS is the de-facto standard today to exchange public transport data on the Web, and the terms used are familiar with developers.
            We reuse these terms in a linked data vocabulary called Linked GTFS.
          </p>
          <h3>Extend this with your own vocabularies</h3>
          <p>You can submit an issue at https://github.com/linkedconnections/... in order to submit</p>
          <h3>Example</h3>
          <p>
            An example in JSON-LD:
          </p>

          <code>
            <pre>
{
    "@id": "http://irail.be/connections/8863008/20171219/P8671",
    "@type": "Connection",
    "departureStop": "http://irail.be/stations/NMBS/008863008",
    "arrivalStop": "http://irail.be/stations/NMBS/008863354",
    "departureTime": "2017-12-19T15:50:00.000Z",
    "arrivalTime": "2017-12-19T16:20:00.000Z",
    "direction": "Ciney",
    "gtfs:trip": "http://irail.be/vehicle/P8671/20171219",
    "gtfs:route": "http://irail.be/vehicle/P8671",
    "departureDelay": 0,
    "arrivalDelay": 0
}
            </pre>
          </code>
          <h2>References</h2>
          <p>TODO</p>
        </div>
      </div>
    </div>
  </section>
</article>

{% include footer.html %}
