---
---
{% include header.html %}


<article>
  <section>
    <div id="page-container">
      <div class="row" id="proposal-container">
        <div class="container">
          <h2>Multidimensional interfaces</h2>
          <h3>Problem</h3>
          <p>
            A transport network may become too big for Linked Connections. E.g., routing 30 minutes far would require downloading 60 pages, we may have to download connections from that side of the city we don’t need at that particular moment.
          </p>
          <h3>Solution</h3>
          <p>
            A solution entails splitting a transit network in parts and publishing these in separate Linked Connections graphs.
          </p>
          <h4>Network splitting algorithm</h4>
          <p>todo</p>
        
          <h4>Describing how to find the right part of the data</h4>
          <p>todo</p>
        </div>
      </div>
    </div>
  </section>
</article>

{% include footer.html %}
